*.pyc
__pycache__/
*.egg-info
build/
dist/
*_color.png
*_normal.png
*_uv.obj
*_uv.mtl
!examples/mujoco/normal_xml/assets/target_objs/box_Wood_woodtest_color.png
!examples/mujoco/normal_xml/assets/target_objs/box_Wood_woodtest_normal.png
!examples/mujoco/normal_xml/assets/target_objs/box_Wood_woodtest_uv.obj
recordings/
